/* Element selector */
main {
  padding-bottom: 20px;
}

/* Class selector */
.card {
  border: 1px solid #1ABC9C;
  padding: 10px;
}

#username-display {
  font-weight: bold;
  color: #2A6FDB;
}

/* Pseudo selector */
button:hover {
  transform: scale(1.02); /* small zoom effect */
  transition: transform 0.15s ease;
}