/* Element selector */
main {
  padding-bottom: 20px;
}

/* Class selector */
.card {
  background-color: white;
  padding: 1rem; /* same as p-4 */
  border-radius: 0.5rem; /* same as rounded */
  box-shadow: 0 1px 3px rgba(0,0,0,0.1); /* same as shadow */
  border: 2px solid #1ABC9C; /* your accent color */
}


#username-display {
  font-weight: bold;
  color: #2A6FDB;
}

/* Pseudo selector */
button:hover {
  transform: scale(1.02); /* small zoom effect */
  transition: transform 0.15s ease;
}

body {
    font-family: 'Inter', sans-serif;
}